<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-quotes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      paper-button.primary {
        background: #49A5E6;
      }
      paper-button.primary:hover {
        background: #1973B8;
      }
    </style>

    <iron-ajax
      id="getRatesAjax"
      auto
      url="http://localhost:3002/api/exchange-rates"
      method="get"
      handle-as="json"
      on-response="handleRateResponse"
      on-error="handleRateError">
    </iron-ajax>

    <div class="card">
      <h1>Tipos de cambio</h1>
      <div class="row">
        <table class="table table-striped">
          <thead>
              <tr><th>Moneda</th><th>ISO</th><th>Tipo de cambio</th></tr>
          </thead>
          <tbody>
              <tr><td>Euro</td><td>EUR</td><td class="text-right">[[euro]]</td></tr>
              <tr><td>Dólar americano</td><td>USD</td><td class="text-right">[[dolar]]</td></tr>
              <tr><td>Dólar canadiense</td><td>CAD</td><td class="text-right">[[canadian]]</td></tr>
              <tr><td>Dólar australiano</td><td>AUD</td><td class="text-right">[[australian]]</td></tr>
              <tr><td>Zloty</td><td>PLN</td><td class="text-right">[[zloty]]</td></tr>
          </tbody>
        </table>
      </div>
      <blockquote>
        Fecha de última actualización: [[fecha]]<br /><br />
        *Inicie sesión para acceder a sus movimientos
      </blockquote>
      <paper-button raised on-tap="getQuote" class="primary">Actualizar tipos de cambio</paper-button>
    </div>
  </template>

  <script>

      function cincoDecimales(n){
        let t=n.toString();
        let regex=/(\d*.\d{0,5})/;
        return t.match(regex)[0];
      }

      class HomeQuotes extends Polymer.Element {
          static get is() { return 'home-quotes'; }

          static get properties() {
              return {

              }
          }

          getQuote() {
              this.$.getRatesAjax.generateRequest();
          }

          handleRateResponse(event) {
              var response = event.detail.response;
              var eur = parseFloat(response.rates['MXN']);
              var datos = {"EUR":cincoDecimales(eur),"USD":cincoDecimales(eur/ parseFloat(response.rates['USD'])),
            "CAD":cincoDecimales(eur/ parseFloat(response.rates['CAD'])),"AUD":cincoDecimales(eur/ parseFloat(response.rates[']AUD'])),
            "PLN":cincoDecimales(eur/ parseFloat(response.rates['PLN']))};
              this.fecha = response.date;
              this.euro = cincoDecimales(eur);
              this.dolar = cincoDecimales(eur/ parseFloat(response.rates['USD']));
              this.canadian = cincoDecimales(eur / parseFloat(response.rates['CAD']));
              this.australian = cincoDecimales(eur / parseFloat(response.rates['AUD']));
              this.zloty = cincoDecimales(eur / parseFloat(response.rates['PLN']));
          }

          handleRateError(event) {
              this.error = event.detail.request.xhr.response;
          }
      }

      window.customElements.define(HomeQuotes.is, HomeQuotes);
  </script>
</dom-module>
