<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="secret-quotes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      paper-button.link {
        color: #1973B8;
      }

      paper-button.primary {
        background: #49A5E6;
      }
      paper-button.primary:hover {
        background: #1973B8;
      }
      a.link {
        color: #49A5E6;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      id="getSecretQuoteAjax"
      auto
      method="get"
      handle-as="json"
      on-response="handleRateResponse"
      on-error="handleRateError">
    </iron-ajax>

    <div class="card">
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>

      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.name]]! tienes acceso a consultar tus movimientos:</p>
        <h3>Movimientos</h3>
        <div class="row">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>Fecha</th><th>Importe</th><th>Categoría</th>
                </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{movimientos}}">
                <tr>
                  <td>{{item.fecha}}</td><td class="text-right">{{item.importe}}</td><td>{{item.categoria}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <blockquote>[[secretQuote]]</blockquote>
        <a href="[[rootPath]]secret-quotes2">
          <paper-button raised class="primary">Nuevo</paper-button>
        </a>
        <paper-button class="link" on-tap="getSecretQuote">Actualizar</paper-button>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Es necesario <a class="link" href="/register-login">iniciar sesión</a> para acceder a sus movimientos!</p>
    </div>
  </template>

  <script>
    class SecretQuotes extends Polymer.Element {
        static get is() { return 'secret-quotes'; }

        static get properties() {
            return {
                storedUser: Object,
                movimientos: {
                  type: Array,
                  notify: true
                }
            };
        }

        initStoredUser() {
            // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
            if (this.storedUser.loggedin) {
                this.getSecretQuote();
            }
        }

        getSecretQuote() {
            // add token authorization and generate Ajax request
            this.$.getSecretQuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
            this.$.getSecretQuoteAjax.url = 'http://localhost:3002/api/Movimientosq?email='+this.storedUser.name;
            this.$.getSecretQuoteAjax.generateRequest();
        }

        handleRateResponse(event) {
            var myObj, x, txt = "";
            var response = event.detail.response;
            if(response.length > 0){
              this.movimientos = event.detail.response[0].listado
            }
        }

        handleRateError(event) {
            this.error = event.detail.request.xhr.response;
        }
    }

    window.customElements.define(SecretQuotes.is, SecretQuotes);
  </script>
</dom-module>
