<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="secret-quotes2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      paper-button.link {
        color: #1973B8;
      }
      paper-button.primary {
        background: #49A5E6;
      }
      paper-button.primary:hover {
        background: #1973B8;
      }
      a.link {
        color: #1973B8;
      }
    </style>

    <iron-ajax
            id="getSecret2QuoteAjax"
            method="post"
            content-type="application/json"
            handle-as="text"
            last-response="{{secretQuote}}"></iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card">
      <h1>Alta de movimiento</h1>

      <div hidden$="[[!storedUser.loggedin]]">
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Fecha: </label>
          <iron-input slot="input" bind-value="{{formData.date}}">
            <input id="fecha" class="input-style" type="date" value="{{formData.date}}" placeholder="Fecha" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Importe</label>
          <iron-input slot="input" bind-value="{{formData.amount}}">
            <div lang="es-MX">
              <input id="amount" class="input-style" type="number" step="0.01" value="{{formData.amount}}" placeholder="Importe" required/>
            </div>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Categoría</label>
          <iron-input slot="input" bind-value="{{formData.type}}">
            <input id="category" type="text" value="{{formData.category}}" placeholder="Categoría" required>
          </iron-input>
        </paper-input-container>

        <blockquote>[[secretQuote]]</blockquote>
        <div class="wrapper-btns">
          <paper-button class="primary" raised on-tap="newIssue">Guardar</paper-button>
        </div>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Es necesario <a class="link" href="/register-login">iniciar sesión</a> para acceder a sus movimientos!</p>
    </div>
  </template>

  <script>
    class SecretQuotes2 extends Polymer.Element {
        static get is() { return 'secret-quotes2'; }

        static get properties() {
            return {
              formData: {
                  type: Object,
                  value: {}
              },
              storedUser: Object,
              error: String
            };
        }

        _setReqBody() {
            this.$.getSecret2QuoteAjax.body = this.formData;
        }

        newIssue() {
            this.$.getSecret2QuoteAjax.url = 'http://localhost:3002/issues';
            this.$.getSecret2QuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
            this._setReqBody();
            this.$.getSecret2QuoteAjax.generateRequest();
        }

        initStoredUser() {
            // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
            if (this.storedUser.loggedin) {
                this.getSecretQuote();
            }
        }

        getSecretQuote() {
            // add token authorization and generate Ajax request
            this.$.getSecret2QuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
            this.$.getSecret2QuoteAjax.generateRequest();
        }
    }

    window.customElements.define(SecretQuotes2.is, SecretQuotes2);
  </script>
</dom-module>
